<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>

    <receiver android:name=".FcmCallBroadcastReceiver" android:exported="true">
        <intent-filter>
            <action android:name = "ACTION_INCOMING_CALL"/>
            <action android:name="ACTION_USB_DEVICE_ATTACHED"/>
        </intent-filter>
    </receiver>

<!--    <service-->
<!--        android:name="com.example.call_presentation.util.CallHandlerServiceImpl"-->
<!--        android:description="@string/call_service_description"-->
<!--        android:foregroundServiceType="phoneCall"-->
<!--        android:exported="true">-->
<!--    </service>-->


</application>

</manifest>




